body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-image: url("./homeImage.jpg");

  /* Control the height of the image */
  min-height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 500px;
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type="text"],
textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.blogContentPage {
  padding: 30px;
}

#blogItems {
  /* display: flex; */
}

#blogItems div {
  width: 400px;
  padding: 20px;
  border: 1px solid #2a2a2a;
  margin-right: 20px;
  margin-top: 20px;
  float: left;
}

.newBlog p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  height: calc(1.2em * 3); /* Adjust line-height accordingly */
}

/* Add scroll bar for overflow text */
.newBlog p:hover {
  overflow-y: scroll;
}
